<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConnectSales.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ConnectSales.Properties.Settings>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="dbaseState1" serializeAs="String">
                <value />
            </setting>
            <setting name="dbaseCity1" serializeAs="String">
                <value />
            </setting>
            <setting name="dbaseState2" serializeAs="String">
                <value />
            </setting>
            <setting name="dbaseCity2" serializeAs="String">
                <value />
            </setting>
            <setting name="dbaseState3" serializeAs="String">
                <value />
            </setting>
            <setting name="dbaseCity3" serializeAs="String">
                <value />
            </setting>
            <setting name="paramDb1" serializeAs="String">
                <value />
            </setting>
            <setting name="paramDb2" serializeAs="String">
                <value />
            </setting>
            <setting name="paramDb3" serializeAs="String">
                <value />
            </setting>
        </ConnectSales.Properties.Settings>
    </userSettings>
</configuration>